
body {
  background-color:#F2F2F2;
  font-family: 'Roboto', "OpenSans", "Verdana", Georgia, Serif;
}

#msg {
  font-weight:nromal;
  font-size: 90%;
  margin-left: 200px;
  color: #fff;
  display:none;
  transition:opacity 0 2s;
  -webkit-transition:opacity 0 2s; /* Safari */
}

#top_header_bar {
  width: 100%;
  height: 10px;
  background-image:url('../imagefiles/header_bg-top.png');
  background-repeat:repeat-x;
  margin: 0px;
}

#top_header {
  float:left;
  width: 100%;
  height: 71px;
  background-image:url('../imagefiles/header_bg.png');
  background-repeat:repeat-x;
  margin: 0px;
  z-index:1000;
}

#footer {
  float:left;
  width: 100%;
  height: 81px;
  background-image:url('../imagefiles/footer_bg.png');
  background-repeat:repeat-x;
  margin: 0px;
}

#copyright {
  float:left;
  width: 300px;
  margin: 10px;
  font-size: 13px;
  color: #fff;
}

#footer_content {
  float:left;
  width: 400px;
  margin: 10px;
  font-size: 13px;
  color: #fff;
}

#footer_content_link {
  color: #fff;
}

#footer_language {
  float:right;
  width: 200px;
  margin: 10px;
  font-size: 13px;
  color: #fff;
}

#logo {
  float:left;
  width: 201px;
  height: 71px;
  background-image:url('../imagefiles/logo.png');
  margin: 10px 25px 0px 25px;
}

.header_tab {
  float:left;
  height: 31px;
  margin-top: 10px;
  padding: 20px;
  font-family: "Roboto", "OpenSans";
  font-weigth: bold;
  font-size: 20px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

#title_text {
  width:100%;
  text-align: center ;
}

#main_video {
  float:left;
  width:1100px;
}

#video_image {
  margin-left: 40px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 960px;
  height: 536px;
}

#video_image_overlay {
  margin-left: 40px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 960px;
  height: 540px;
  background: linear-gradient(
     to top,
     rgba(0, 0, 0, 0.9),
     rgba(0, 0, 0, 0) 72%,
     rgba(0, 0, 0, 0) 100%
  );
  z-index:0;
  position:absolute;
  display:none;
}

#video_element {
  display:none;
  margin-left: 40px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 960px;
  height: 540px;
  background-color:#000;
}

#media_info {
  float:left;
  width:940px;
  height:116px;
  margin:-4px 0px 0px 40px;
  padding:10px;
  opacity:0.9;
  background-color:#DDE0E5;
  color: #000;
}

#media_title {
  float:left;
  margin:0px 10px 0px 0px;
  padding:0px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

#media_subtitle {
  float:left;
  margin:13px 0px 0px 30px;
  padding:0px;
  font-size: 18px;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

#media_desc {
  float:left;
  width: 95%;
  margin:5px;
  font-size: 12px;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

#media_control {
  position: absolute;
  left: 8px;
  top: 650px;
  width:960px;
  height:60px;
  z-index:1000;
  margin:-60px 0px 0px 40px;
  padding:0px;
  opacity:0.7;
  background-color:#000;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
  transition:opacity 1s;
  -webkit-transition:opacity 1s; /* Safari */
}

#media_control:hover {
  opacity: 0.7;
}

#play {
  margin: 10px 20px 10px 10px;
  float:left;
  width: 65px;
  height: 40px;
  background-image:url('../imagefiles/play.png');
}

#play:hover {
  background-image:url('../imagefiles/play-hover.png');
}

#play:press {
  background-image:url('../imagefiles/play-press.png');
}

#pause {
  display:none;
  margin: 10px 20px 10px 10px;
  float:left;
  width: 65px;
  height: 40px;
  background-image:url('../imagefiles/pause.png');
}

#pause:hover {
  background-image:url('../imagefiles/pause-hover.png');
}

.button {
  margin: 5px;
  font-size: 100%;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

.volume {
  width:60px;
  margin-left:8px;
}

#muteText {
  width:30px;
  margin-left:3px;
}

.muteButton {
  font-size: 110%;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

.imageIcon {
  padding:3px 0px 0px 0px;
  width:25px;
}

#progress {
  margin: 20px 0px 10px -620px;
  float:left;
  width: 1px;
  height: 36px;
  z-index: 10;
  background-image:url('../imagefiles/timeline_bg_progress.png');
  background-repeat:repeat-x;
}

#progress_indicator {
  margin: 20px 0px 10px -620px;
  float:left;
  draggable: true;
  width: 6px;
  height: 36px;
  z-index: 1000;
  background-image:url('../imagefiles/timeline_indicator.png');
  background-repeat:repeat-x;
}

#progress_bg {
  margin: 20px 20px 10px 0px;
  float:left;
  width: 600px;
  height: 36px;
  background-image:url('../imagefiles/timeline_bg_track.png');
  background-repeat:repeat-x;
}

#castbutton {
  float:right;
  margin:10px 6px 14px 0px;
  width: 40px;
  height: 32px;
  opacity: 0.7;
  background-color: #000;
  border: none;
  outline: none;
}

#castbutton:hover {
  --disconnected-color: white;
  --connected-color: white;
}

#audio_off {
  float:right;
  margin:10px 4px 10px 0px;
  width: 32px;
  height: 32px;
  display:none;
  background-image:url('../imagefiles/audio_off.png');
}

#audio_on {
  float:right;
  width: 32px;
  height: 32px;
  margin:10px 4px 10px 0px;
  display:block;
  background-image:url('../imagefiles/audio_on.png');
}

#audio_bg {
  float:right;
  opacity: 0.1;
  width: 41px;
  height: 124px;
  margin:-115px 8px -10px 0px;
  display:block;
  background-image:url('../imagefiles/audio_bg.png');
  position:relative;
  z-index:10;
}

#audio_bg_track {
  float:right;
  opacity: 0.0;
  width: 16px;
  height: 100px;
  margin:-100px 20px -30px 0px;
  display:block;
  background-image:url('../imagefiles/audio_bg_track.png');
  position:relative;
  z-index:1000;
}

#audio_indicator {
  float:right;
  opacity: 0.0;
  width: 16px;
  height: 5px;
  margin:-50px 20px -30px 0px;
  display:none;
  background-image:url('../imagefiles/audio_indicator.png');
  position:relative;
  z-index:1000;
}

#audio_bg_level {
  float:right;
  opacity: 0.0;
  width: 16px;
  height: 50px;
  margin:-50px 20px -30px 0px;
  display:block;
  background-image:url('../imagefiles/audio_bg_level.png');
  position:relative;
  z-index:1000;
}

#fullscreen_expand {
  float:right;
  width: 32px;
  height: 32px;
  margin:10px 20px 10px 0px;
  display:block;
  background-image:url('../imagefiles/fullscreen_expand.png');
  cursor: pointer;
}

#fullscreen_collapse {
  float:right;
  width: 32px;
  height: 32px;
  margin:10px 20px 10px 0px;
  display:none;
  background-image:url('../imagefiles/fullscreen_collapse.png');
  cursor: pointer;
}

#duration {
  float:right;
  color: #fff;
  width: 60px;
  height: 32px;
  margin:18px 15px 10px 15px;
  display:block;
}

div.imageSub { position: relative; }
div.imageSub img { z-index: 1; }
div.imageSub div {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0px;
  padding: 0px;
}
div.imageSub div.blackbg {
  z-index: 2000;
  bottom: 60px;
  left: 300px;
  width: 400px;
  height: 30px;
  color: #000;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  font-size:120%;
  display:none;
  padding:10px;
}
div.imageSub div.label {
  z-index: 3000;
  bottom: 60px;
  left: 300px;
  width: 400px;
  height: 30px;
  color: white;
  font-size:120%;
  display:none;
  padding:10px;
}

#carousel {
  width:990px;
  margin:20px 10px 10px 40px;
}

.thumb {
  float: left;
  margin:10px 10px 10px 0px;
  cursor: pointer;
}

.thumbnail {
  margin-right:10px;
  width:225px;
  height:127px;
}


.vertical {
    -webkit-transform: rotate(90deg);

}
